.account-page
  .account-page__header
    = link_to 'FURIMA', root_path, class: 'btn'
    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
  .account-page__content
    .contents
      %h2.contents__head
        会員情報の編集
      = form_for(current_user) do |f|
        .field
          .field__label
            = f.label :name
          .field__input
            = f.text_field :name, autofocus: true
        .field
          .field__label
            = f.label :email
          .field__input
            = f.email_field :email
        .actions
          = f.submit "Update", class: 'action'